<!--<div class="container" *ngFor="let est of resultado">-->
  <!--<h3>{{est.nombreEstudiante}}</h3>-->

<!--</div>-->

<!--<button (click)="irAlCarrito()">-->
  <!--Carrito <i class="material-icons">-->
  <!--shopping_cart-->
<!--</i>-->
  <!--numero Items: {{numItems}}-->
<!--</button>-->

<div class="container" (click)="irAlCarrito()">
  <mat-icon matBadge={{numItems}} matBadgeColor="warn">shopping_cart</mat-icon>
</div>





  <!--<button *ngFor="let est of resultado"-->
    <!--class=" btn btn-info"-->
    <!--(click)="irAlCarrito()">-->
    <!--Carrito-->
    <!--{{est.nombreEstudiante}}-->
  <!--</button>-->




