<div class="container" style="background-color: #0e6471; color: #ffffff">
  <div class="row">
    <div class="col-sm-6">
      <h1>Examen de JS</h1>
    </div>
    <div class="col-sm-6" style="margin-top: 20px; margin-bottom: 20px">
      <div class="row">
        <div class="col-sm-4">
          <app-volver-inicio></app-volver-inicio>
        </div>
        <div class="col-sm-4">
          <app-status-carrito></app-status-carrito>
        </div>
        <div class="col-sm-4">
          <app-perfil-usuario></app-perfil-usuario>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="background-color: #e4f0f1">
  <br>
    <router-outlet></router-outlet>
</div>
<h1>Footer</h1>


