<div class="sa-topnav">
  <a><app-status-carrito></app-status-carrito></a>
  <a><app-dmateria-auxiliar></app-dmateria-auxiliar></a>
  <a><app-volver-inicio></app-volver-inicio></a>
</div>






<!--<div class="container sa-topnav">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-6">-->
      <!--<h1>Examen de JS</h1>-->
    <!--</div>-->
    <!--<div class="col-sm-6"-->
         <!--style="-->
                  <!--margin-top: 50px;-->
                  <!--margin-bottom: 10px;-->
                  <!--width: 60px;-->
                  <!--heigth: 60px;-->
                <!--">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-3">-->
          <!--<app-volver-inicio></app-volver-inicio>-->
        <!--</div>-->
        <!--<div class="col-sm-3">-->
          <!--<app-dmateria-auxiliar></app-dmateria-auxiliar>-->
        <!--</div>-->
        <!--<div class="col-sm-3">-->
          <!--<app-status-carrito></app-status-carrito>-->
        <!--</div>-->
        <!--<div class="col-sm-3">-->
          <!--<app-perfil-usuario></app-perfil-usuario>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="content">
  <br>
    <router-outlet></router-outlet>
  <br>
  <br>
</div>
<div class="footer">
  <h5>Examen de 2nd Bimestre de Tecnologías de Javascript - Salazar Andrés</h5>
</div>



