.sa-topnav {
  overflow: hidden;
  background-color: #0e6471;
}

.sa-topnav a{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sa-topnav a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  background-color: #e4f0f1;
  padding: 10px;
}

.footer{
  background-color: #0e6471;
  color:#ffffff;
  padding: 10px;
}

