<h1>Modelos del Hijo</h1>

<p-dataView #dv [value]="materias" [paginator]="true" [rows]="3">
  <p-header>
    Lista de materias
    <!--<input type="search" pInputText placeholder="Buscar por nombre" (keyup)="dv.filter($event.target.value)">-->
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </p-header>
  <p-footer>Escoga de la lista
  </p-footer>
  <ng-template let-mat pTemplate="listItem">
    <div>
      {{mat.nombreMateria}}
    </div>
  </ng-template>
  <ng-template let-mat pTemplate="gridItem">
    <div class="ui-g-12 ui-md-3">
      {{mat.codigoMateria}}
    </div>
  </ng-template>
</p-dataView>
