<p-growl [value]="msgs"></p-growl>

<p-dataView #dv [value]="materias" [paginator]="true" [rows]="3">
  <p-header>
    <h3>Lista de Materias disponibles</h3>
    <!--<input type="search" pInputText placeholder="Buscar por nombre" (keyup)="dv.filter($event.target.value)">-->
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </p-header>
  <p-footer>
    <h6 style="text-align: right">Escoga de la lista</h6>
  </p-footer>
  <ng-template let-mat pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-8">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Nombre: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{mat.nombreMateria}}</b></div>

          <div class="ui-g-2 ui-sm-6">Codigo: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{mat.codigoMateria}}</b></div>

          <div class="ui-g-2 ui-sm-6">Número Horas: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{mat.numHorasXSemana}}</b></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button pButton type="button" icon="pi pi-search" (click)="escogerMateria(mat)"></button>
      </div>
    </div>
  </ng-template>
  <ng-template let-mat pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="mat.nombreMateria" [style]="{'text-align':'center'}">
        <div class="car-detail">{{mat.codigoMateria}} - {{mat.numHorasXSemana}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" icon="pi pi-search" (click)="escogerMateria(mat)" style="margin-top:0"></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
