.sa-input-buscador {
  margin: auto;
  width: 90%;
  border: 3px solid brown;
  padding: 10px;
}

.sa-input-buscador form {
  width: auto;
  border: 3px solid #73AD21;
  padding: 10px;
}

.sa-input-buscador form input {
  width: 88%;
  border: 3px solid chocolate;
}

.sa-input-buscador form button {
  display: block;
  float: right;
  text-align: center;
  width: auto;
  margin: auto;

}

.sa-resultados-busqueda {
  margin: auto;
  width: 90%;
  border: 3px solid brown;
  padding: 10px;
}

/*.sa-resultados-busqueda mat-card {*/
  /*background-color: #001c20;*/
/*}*/



