  <div class="ui-g-12">
    <div class="ui-inputgroup" style="{
     text-align: center;
     width: 100%;
     }">
      <form style="{text-align: center;width: 100%}">
        <input type="text" pInputText placeholder="Busque Estudiante por nombre" [(ngModel)]="inputConsulta" name="buscador">
        <button pButton type="button" label="Buscar" (click)="efectuarConsulta()"></button>
      </form>
    </div>

  </div>


<div class="container">

  <div class="contenido" *ngIf="resultadosBusqueda">
    <h4>Resultados de la búsqueda</h4>
    <mat-card>
      <!--<p>-->
        <!--{{results.nombreEstudiante}} - {{results.apellidoEstudiante}}-->
      <!--</p>-->

      <button pButton *ngFor="let results of resultadosBusqueda" type="button" (click)="escogerEstudiante(results)" >
        {{results.nombreEstudiante}} - {{results.apellidoEstudiante}}
      </button>
    </mat-card>
  </div>

</div>

