<h1>Home</h1>
<br>
<div class="container" style="text-align: center">
  <!--<div class="row" style="margin-left: 60px; margin-right: 60px;">-->
  <!--</div>-->
  <app-buscador></app-buscador>
</div>

<br>

<div class="container" style="background-color: coral">
  <h1>Modelos Padre</h1>
    <app-preview-padre></app-preview-padre>
  <br>
  <!--<div class="contenedor-boton" style="text-align: center">-->
    <!--<app-cargar-mas></app-cargar-mas>-->
  <!--</div>-->
</div>

<br>

<div class="container" style="background-color: cornsilk">
  <app-preview-hijo></app-preview-hijo>
  <br>
  <!--<div class="contenedor-boton" style="text-align: center">-->
    <!--<app-cargar-mas></app-cargar-mas>-->
  <!--</div>-->
</div>
