<h1>Home</h1>
<br>
  <!--<div class="row" style="margin-left: 60px; margin-right: 60px;">-->
  <!--</div>-->
  <app-buscador></app-buscador>

<br>

<div class="container">
  <app-resultado-busqueda></app-resultado-busqueda>
</div>
<br>

<div class="container">
    <app-preview-padre></app-preview-padre>
  <br>
  <!--<div class="contenedor-boton" style="text-align: center">-->
    <!--<app-cargar-mas></app-cargar-mas>-->
  <!--</div>-->
</div>

<br>

<div class="container">
  <app-preview-hijo></app-preview-hijo>
  <br>
  <!--<div class="contenedor-boton" style="text-align: center">-->
    <!--<app-cargar-mas></app-cargar-mas>-->
  <!--</div>-->
</div>
