<p>Home funciona</p>

<div class="container">
  <div class="row" style="background-color: aquamarine">
    <app-buscador></app-buscador>
  </div>
</div>

<div class="container">
  <div class="row" style="background-color: coral">
    <app-preview-padre></app-preview-padre>
  </div>
  <app-cargar-mas></app-cargar-mas>
</div>

<div class="container">
  <div class="row" style="background-color: cornsilk">
    <app-preview-hijo></app-preview-hijo>
  </div>
  <app-cargar-mas></app-cargar-mas>
</div>
