<mat-list style="background-color: #ebebeb">
  <h1 mat-subheader>Datos de la cuenta</h1>
  <mat-list-item *ngFor="let est of resultadoConsulta">
    <h3 mat-line>Nombre: {{est.nombreEstudiante}}</h3>
    <h3 mat-line>Apellido: {{est.apellidoEstudiante}}</h3>
    <h3 mat-line>FechaNacimiento: {{est.fechaNacimiento}}</h3>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h1 mat-subheader>Datos Adicionales</h1>
  <mat-list-item *ngFor="let est of resultadoConsulta">
    <h3 mat-line>¿Es graduado?: {{est.esGraduado}}</h3>
    <h3 mat-line>Semestre Actual: {{est.semestreActual}}</h3>
  </mat-list-item>
</mat-list>
