<h1>Carrito</h1>
<br>
<div class="container">
  <div class="col-lg-12">
    <app-datos-cuenta></app-datos-cuenta>
  </div>
</div>

<br>

<div class="container">
  <div class="col-lg-12">
    <h1>Datos de Facturacion</h1>
    <br>
    <app-cabecera-facturacion></app-cabecera-facturacion>
  </div>
</div>

<div class="container">
  <div class="col-lg-12">
    <h1>Listado del carrito</h1>
    <br>
    <app-descripcion-materia-escogida></app-descripcion-materia-escogida>
  </div>
</div>

<div class="container" style="color: #000000; text-align: right">
  <div class="col-lg-12">
    <br>
    <app-monto-total></app-monto-total>
  </div>
</div>
