<h1>Carrito</h1>
<br>
<div class="container" style="background-color: cornflowerblue">
  <div class="col-lg-12">
    <h1>Datos de Cuenta</h1>
    <br>
    <app-datos-cuenta></app-datos-cuenta>
  </div>
</div>

<div class="container" style="background-color: darkgoldenrod">
  <div class="col-lg-12">
    <h1>Datos de Facturacion</h1>
    <br>
    <app-cabecera-facturacion></app-cabecera-facturacion>
  </div>
</div>

<div class="container" style="background-color: chartreuse">
  <div class="col-lg-12">
    <h1>Listado del carrito</h1>
    <br>
    <p>blablablabla etcetcetc</p>
  </div>
</div>

<div class="container" style="background-color: gray; text-align: right">
  <div class="col-lg-12">
    <br>
    <app-monto-total></app-monto-total>
  </div>
</div>
