<h1>Carrito</h1>
<br>
<div class="container">
  <div class="row" style="background-color: darkorange">
    <div class="col-lg-12">
      <h1>Datos de Cuenta</h1>
      <br>
      <p>ipsum lorem dolor etc</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="background-color: greenyellow">
    <div class="col-lg-12">
      <h1>Datos de Facturacion</h1>
      <br>
      <p>bla bla bla bla etc etc etc</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="background-color: darkslategray">
    <div class="col-lg-12">
      <h1>Listado del carrito</h1>
      <br>
      <p>blablablabla etcetcetc</p>
    </div>
  </div>
</div>
