<h1>Información del Estudiante</h1>
<br>
<div class="container" style="background-color: greenyellow">
  <h1>Descripción del Estudiante</h1>
  <mat-card class="example-card" *ngIf="estudianteEscogido">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" ></div>
      <mat-card-title>{{estudianteEscogido.nombreEstudiante}}</mat-card-title>
      <mat-card-subtitle>{{estudianteEscogido.nombreEstudiante}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="estudianteEscogido.fotoEstudiante" [alt]="'Photo of estudianteEscogido.nombreEstudiante'" width="80">
    <mat-card-content>
      <p>
        Nombre: {{estudianteEscogido.nombreEstudiante}}
      </p>
      <p>
        Apellido: {{estudianteEscogido.apellidoEstudiante}}
      </p>
      <p>
        Semestre Actual: {{estudianteEscogido.semestreActual}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>MODIFICAR DATOS</button>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<div class="container" style="background-color: blueviolet">
  <h1> Aquí la lista de materias para el estudiante</h1>
  <app-preview-hijo></app-preview-hijo>
</div>
<br>
<div class="container" style="background-color: darkolivegreen">
  <h1>Has escogido la materia...</h1>
  <router-outlet></router-outlet>
</div>
