<h1>Información del Estudiante</h1>
<br>
<div class="container" *ngIf="resultadoBusqueda">
  <mat-card class="example-card" *ngFor="let est of resultadoBusqueda">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" ></div>
      <mat-card-title>
          <h3>Ficha de Información del Estudiante</h3>
          {{est.nombreEstudiante}} {{est.apellidoEstudiante}}
      </mat-card-title>
      <mat-card-subtitle>Estudiante</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="est.fotoEstudiante" [alt]="'Photo of estudianteEscogido.nombreEstudiante'">
    <mat-card-content>
      <H3>Detalles del Estudiante</H3>
      <p>
      <h5>Nombre: {{est.nombreEstudiante}}</h5>
      <h5>Apellido: {{est.apellidoEstudiante}}</h5>
      <h5>FechaNacimiento: {{est.fechaNacimiento}}</h5>
      <h5>¿Es graduado?: {{est.esGraduado}}</h5>
      <h5>Ultimo Semestre cursado: {{est.semestreActual}}</h5>
    </mat-card-content>

    <mat-card-actions>
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Modificar Datos</button>
      <b>
        <button class="btn btn-lg btn-outline-primary" (click)="eliminarAMiEstudiante()">Eliminar Estudiante</button>
      </b>
    </mat-card-actions>
  </mat-card>


  <div class="modalEstudiante">

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Actualizacion de la informacion del Estudiante</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombreEstudiante">Nombre del Estudiante</label>
            <div class="input-group">
              <input id="nombreEstudiante" class="form-control" [placeholder]= "estudianteActual.nombreEstudiante" [(ngModel)]="inputNombreEstudiante" name="nombre">
            </div>

            <label for="apellidoEstudiante">Apellido del Estudiante</label>
            <div class="input-group">
              <input id="apellidoEstudiante" class="form-control" [placeholder]="estudianteActual.apellidoEstudiante" [(ngModel)]="inputApellidoEstudiante" name="apellido">
            </div>

            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <div class="input-group">
              <input id="fechaNacimiento" class="form-control" [placeholder]="estudianteActual.fechaNacimiento" [(ngModel)]="inputFechaNacimiento" name="fecha">
            </div>

            <label for="esGraduado">¿Es graduado?</label>
            <div class="input-group">
              <input id="esGraduado" class="form-control" [placeholder]="estudianteActual.esGraduado" name="fecha" [(ngModel)]="inputEsGraduado" name="graduado">
            </div>

            <label for="semestreActual">Semestre Actual</label>
            <div class="input-group">
              <input id="semestreActual" class="form-control" [placeholder]="estudianteActual.semestreActual" [(ngModel)]="inputSemestreActual" name="semestre" >
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizarAMiEstudiante()" (click)="c('Save click')">Save</button>
      </div>
    </ng-template>

  </div>









</div>
<br>

<div class="container">
  <app-preview-hijo></app-preview-hijo>
</div>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
