<mat-card class="example-card" style="text-align: center" *ngFor="let mat of materiasDelEstudiante">
  <mat-card-header>
    <mat-card-title>Materia Escogida</mat-card-title>
    <mat-card-subtitle>su materia elegida</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Nombre Materia: {{mat.nombreMateria}}
      <br>
      Codigo Materia: {{mat.codigoMateria}}
      <br>
      Numero de Horas: {{mat.numHorasXSemana}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="eliminarMateriaDeMiCarrito(mat)">Eliminar Materia</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
